@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header{
    display: grid;
    grid-template-columns: 25dvw auto;
    background: blueviolet;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links a{
    padding: 1rem;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
    transition: all .5s;
}
.links a:hover{
    background: pink;
    color: purple;
}
#headLogo{
    width: 6dvw;
    cursor: pointer;
}