body{
    background: rgb(68, 0, 169);
    min-height: 100dvh;
    min-width: 100dvw;
    overflow-x: hidden;
}
.top-container{
    width: 100dw;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 75dvw;
}
.cont h1{
    text-align: center;
    color: coral;
    letter-spacing: 2px;
}
h3{
    text-align: center;
    margin: 2rem 1rem;
    letter-spacing: 1px;
    color: pink;
    font-size: 1.3rem;
}
.btn{
    padding: .8rem;
    font-size: 1.4rem;
    border: 2px solid pink;
    border-radius: 1.5rem;
    color: pink;
    cursor: pointer;
    transition: all 1s;
}
.btn:hover{
    background: pink;
    color: blue;
}